In [2]:
import pandas as pd

In [41]:
data = pd.read_excel('seekingalpha_attachment.xlsx',sheet_name=1,header=5)
data.head()

,Name,Symbol,Sector,Industry,Yrs,Seq,DR,SP,Price,Yield,...,%,Beta,Low,High,MMA,MMA.1,OTC,Began,Survived,ROA
0,ABM Industries Inc.,ABM,Industrials,Commercial Services & Supplies,53.0,18.0,Y,N,32.92,2.24787,...,14.687847,0.61,3.51,-22.85,-14.64,-13.98,NaN,1968.0,6.0,3.4
1,Archer Daniels Midland,ADM,Consumer Staples,Food Products,45.0,54.0,N,Y,37.65,3.8247,...,20.453760,1.05,3.29,-20.23,-15.94,-9.65,NaN,1976.0,4.0,3.2
2,Automatic Data Proc.,ADP,Information Technology,IT Services,44.0,59.0,N,Y,154.74,2.35233,...,13.714184,0.87,4.45,-15.13,-10.82,-7.27,NaN,1976.0,4.0,5.6
3,AFLAC Inc.,AFL,Financials,Insurance,38.0,70.0,N,N,42.85,2.61377,...,14.858477,0.62,-3.45,-25.06,-17.77,-18.85,NaN,1983.0,3.0,2.1
4,Albemarle Corp.,ALB,Materials,Chemicals,25.0,133.0,N,N,81.85,1.79597,...,11.794367,1.58,39.60,-17.66,3.05,16.16,NaN,1995.0,2.0,6.9

### SELECTING WANTED COLUMNS

In [59]:
data = pd.read_excel('seekingalpha_attachment.xlsx',sheet_name=1,header=5,skipfooter=16)
data = data[['Name','Symbol','Sector','Industry','Yrs','Price','Yield','Year','1-yr','3-yr','5-yr','10-yr','P/E','ROE','($Mil)','Equity','Survived','ROA']]
data

,Name,Symbol,Sector,Industry,Yrs,Price,Yield,Year,1-yr,3-yr,5-yr,10-yr,P/E,ROE,($Mil),Equity,Survived,ROA
0,ABM Industries Inc.,ABM,Industrials,Commercial Services & Supplies,53,32.92,2.247874,4,2.857143,2.942850,3.035803,3.307753,17.235602,8.5,2230.00,0.52,6,3.4
1,Archer Daniels Midland,ADM,Consumer Staples,Food Products,45,37.65,3.824701,4,4.477612,5.272660,7.837885,9.595823,15.000000,7.3,21160.00,0.46,4,3.2
2,Automatic Data Proc.,ADP,Information Technology,IT Services,44,154.74,2.352333,4,19.696970,14.230937,13.391993,10.606348,27.339223,46.1,67630.00,0.37,4,5.6
3,AFLAC Inc.,AFL,Financials,Insurance,38,42.85,2.613769,4,3.846154,9.172994,7.854534,6.788275,9.694570,11.6,31430.00,0.21,3,2.1
4,Albemarle Corp.,ALB,Materials,Chemicals,25,81.85,1.795968,4,8.490566,6.057227,6.182183,11.138309,16.304781,14.7,8860.00,0.50,2,6.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Weyco Group Inc.,WEYS,Consumer Discretionary,Distributors,38,21.94,4.375570,4,4.444444,4.235724,4.619663,4.946990,11.989071,10.5,218.74,0.08,3,7.7
136,Wal-Mart Inc.,WMT,Consumer Staples,Food & Staples Retailing,47,107.68,2.005944,4,1.932367,1.970949,2.011661,7.177346,20.747592,18.2,303210.00,0.76,4,5.5
137,West Pharmaceutical Services,WST,Health Care,Health Care Equipment & Supplies,27,150.56,0.425080,4,7.017544,7.574974,8.270264,7.177346,46.903427,16.1,11240.00,0.13,2,11.0
138,Essential Utilities Inc.,WTRG,Utilities,Water Utilities,27,43.01,2.179028,4,6.910377,7.070247,7.415089,7.496990,61.442857,5.4,9360.00,0.80,2,1.9
139,ExxonMobil Corp.,XOM,Energy,"Oil, Gas & Consumable Fuels",37,51.44,6.765163,4,6.191950,4.799518,4.902556,7.527266,15.309524,9.3,220340.00,0.25,3,5.0

### CHANGING TYPES FROM STRING TO FLOAT

In [55]:
str_to_float_columns = ['Yrs','Price','Yield','Year','1-yr','3-yr','5-yr','10-yr','P/E','ROE','($Mil)','Equity','Survived','ROA']
for column in str_to_float_columns:
    data[column] = pd.to_numeric(data[column])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 18 columns):
Name        140 non-null object
Symbol      140 non-null object
Sector      140 non-null object
Industry    140 non-null object
Yrs         140 non-null int64
Price       140 non-null float64
Yield       140 non-null float64
Year        140 non-null int64
1-yr        140 non-null float64
3-yr        140 non-null float64
5-yr        140 non-null float64
10-yr       140 non-null float64
P/E         131 non-null float64
ROE         132 non-null float64
($Mil)      134 non-null float64
Equity      131 non-null float64
Survived    140 non-null int64
ROA         133 non-null float64
dtypes: float64(11), int64(3), object(4)
memory usage: 19.8+ KB

### IMPOSING RESTRICTIONS IN ORDER TO SELECT LISTED COMPANIES THAT I AM INTERESTED IN

In [58]:
data.loc[(data['Yield'] > 2) & (data['Yield'] < 6) & (data['P/E'] < 20) & (data['ROE'] > 10) & (data['($Mil)'] > 10000) & 
         (data['Equity'] < 1)]

data.loc[data['ROE'] > 10]
data.loc[data['($Mil)'] > 10000]
data.loc[data['Equity'] < 1]
data

,Name,Symbol,Sector,Industry,Yrs,Price,Yield,Year,1-yr,3-yr,5-yr,10-yr,P/E,ROE,($Mil),Equity,Survived,ROA
0,ABM Industries Inc.,ABM,Industrials,Commercial Services & Supplies,53,32.92,2.247874,4,2.857143,2.942850,3.035803,3.307753,17.235602,8.5,2230.00,0.52,6,3.4
1,Archer Daniels Midland,ADM,Consumer Staples,Food Products,45,37.65,3.824701,4,4.477612,5.272660,7.837885,9.595823,15.000000,7.3,21160.00,0.46,4,3.2
2,Automatic Data Proc.,ADP,Information Technology,IT Services,44,154.74,2.352333,4,19.696970,14.230937,13.391993,10.606348,27.339223,46.1,67630.00,0.37,4,5.6
3,AFLAC Inc.,AFL,Financials,Insurance,38,42.85,2.613769,4,3.846154,9.172994,7.854534,6.788275,9.694570,11.6,31430.00,0.21,3,2.1
4,Albemarle Corp.,ALB,Materials,Chemicals,25,81.85,1.795968,4,8.490566,6.057227,6.182183,11.138309,16.304781,14.7,8860.00,0.50,2,6.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Weyco Group Inc.,WEYS,Consumer Discretionary,Distributors,38,21.94,4.375570,4,4.444444,4.235724,4.619663,4.946990,11.989071,10.5,218.74,0.08,3,7.7
136,Wal-Mart Inc.,WMT,Consumer Staples,Food & Staples Retailing,47,107.68,2.005944,4,1.932367,1.970949,2.011661,7.177346,20.747592,18.2,303210.00,0.76,4,5.5
137,West Pharmaceutical Services,WST,Health Care,Health Care Equipment & Supplies,27,150.56,0.425080,4,7.017544,7.574974,8.270264,7.177346,46.903427,16.1,11240.00,0.13,2,11.0
138,Essential Utilities Inc.,WTRG,Utilities,Water Utilities,27,43.01,2.179028,4,6.910377,7.070247,7.415089,7.496990,61.442857,5.4,9360.00,0.80,2,1.9
139,ExxonMobil Corp.,XOM,Energy,"Oil, Gas & Consumable Fuels",37,51.44,6.765163,4,6.191950,4.799518,4.902556,7.527266,15.309524,9.3,220340.00,0.25,3,5.0